@model RiftData.Presentation.ViewModels.Admin.Genus.GenusCreatePageViewModel
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Create";
    this.Layout = "../Shared/_Layout.cshtml";
}
@section Navigation {
    @this.Html.Partial("NavigationPartial", this.Model.NavigationViewModel)
}
<div id="body">
    <div class="portlet">
        <div class="portlet-header">
            <h4>Create Genus</h4>
        </div>
        <div class="portlet-content">
            @using (this.Html.BeginForm("Create", "Genus", FormMethod.Post, new { @class = "form label-inline" }))
            {
                <div class="field">
                    <label>Lake</label>
                    @this.Html.Telerik().DropDownList().BindTo(this.Model.Lakes).Name("Lake").ClientEvents(e => e.OnChange("OnLakeChange"))
                </div>
                <div class="field">
                    <label>Genus Type</label>
                    @this.Html.Telerik().DropDownList().Name("GenusType")
                </div>
                <div class="field">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.Name, new { @class= "validate[required]" })
                </div>
                <button type="submit" id="btnSubmit" style="display:none;">
                    <span>Save</span>
                </button>
            }
            <div class="buttonrow">
                <a href="@this.Url.Action("Index")">
                    <button class="btn-sec">
                        <span>Cancel</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@this.Url.Action("UpdateSuccess", "AjaxMessaging", new { subject = "Genus", okAction = "Index", okController = "Genus" })" id="SuccessUrl" />
<input type="hidden" value="@this.Url.Action("UpdateFailure", "AjaxMessaging", new { subject = "Genus", okAction = "Index", okController = "Genus" })" id="FailureUrl" />
@Html.Hidden("GetGenusTypesUrl", Url.Action("GetSelectList", "GenusTypes"))

@this.Html.Partial("MessageBox")

@section Css
{
    <link href="@this.Url.Content("~/Content/Admin/CSS/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
}



@section Scripts{
    <script src="@this.Url.Content("~/Scripts/Admin/jquery.validationEngine-en.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/jquery.validationEngine.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Admin/GenusCreate.js")" type="text/javascript"></script>
}