@model RiftData.Presentation.ViewModels.Admin.GenusIndexPageViewModel
@using Telerik.Web.Mvc.UI 
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
@section Navigation
{
    @Html.Partial("NavigationPartial", Model.SelectedView)
}

<div id="body"> 
    <div class="portlet">
        <div class="portlet-header">
            <ul id ="PageHeaderList">
                <li class="left headerButton">                    
                    <a href="@Url.Action("Create", "Genus")">
                        <button>
                            <span>Add genus</span>
                        </button>
                    </a>
                </li>
                <li class="right headerButton">
                    <a id="QuickSearchEditButton" style="display:none;margin-left:5px;">
                        <button>
                            <span>Edit</span>
                        </button>
                    </a>
                </li>
                <li class="right" id="LocaleIndexPageSearchBox">
                    @(Html.Telerik().ComboBox().Name("Name")
                                .BindTo(new SelectList(Model.Genus, "Id", "Name"))
                                .ClientEvents(c => c.OnChange("GenusQuickSearchSelected")))
                </li>
                <li class="right" id="LocaleIndexPageQuickSearchText">Quick Search:</li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="portlet-content">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Species</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Genus)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Species.Count</td>
                            <td>
                                <div class="buttonRow">
                                    <a href="@Url.Action("Update", "Genus", new { id = item.Id })">
                                        <button>
                                            <span>Edit</span>
                                        </button>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })">
                                        <button>
                                            <span>Delete</span>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<input type="hidden" id="EditUrl" value="@Url.Action("Update", "Genus", null)" />

@section Scripts
{
    <script src="@Url.Content("/Scripts/Admin/GenusIndex.js")" type="text/javascript"></script>
}