@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("../Content/2011.2.712/telerik.office2010black.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("../Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="../../Content/PhotoGrid/jphotogrid.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/PhotoGrid/jphotogrid.ie.css" rel="stylesheet" type="text/css" />
        @*<link href="../../Content/PhotoGrid/style.css" rel="stylesheet" type="text/css" />*@
        <link href="@Url.Content("../Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="PageContainer">
            @RenderBody()
        </div>
    </body>
    @RenderSection("Scripts")
</html>
