@model  RiftData.Shared.ViewModels.PhotoGalleryViewModel

<div id="@(Model.Name + "imageFlow")" class="imageflow">
    @(foreach (var photo in Model.Photos)
    { @<text>
	    <img src="@photo.ThumbNailUrl" longdesc="@photo.MediumUrl" alt="@Model.Name" />
    </text>
    })
</div>