@using RiftData.Presentation.ViewModels
@model LocaleInfoBoxViewModel
<div id="LocaleInfoBoxContainer">
    <div id="LocaleInfoBoxTop"></div>
    <div id="LocaleInfoBox">
        <img src="@this.Model.PhotoUrl" alt="@this.Model.Name" width="50px" height="50px" />
        <h3>@this.Model.Name</h3>
        <div class="clear"></div>
        @{ if (this.Model.Species.Count > 0)
           {
               <div id="SpeciesListContainer">
                   <ul>
                       @foreach (var species in this.Model.Species)
                       {
                           <li class="speciesListItem"><a href="@this.Url.Action("Index", "Species", new { speciesFullName = species.UrlName })">@species.Name</a></li>
                       }
                   </ul>
               </div>
           }
 }
    </div>
    <div id="LocaleInfoBoxBottom"></div>
</div>