@using RiftData.Presentation.ViewModels.Admin
@using RiftData.Presentation.ViewModels.Admin.GenusType
@model GenusTypeIndexPageViewModel
@{
    this.ViewBag.Title = "Genus Types";
    this.Layout = "../Shared/_Layout.cshtml";

}
@section Navigation {
    @this.Html.Partial("NavigationPartial", this.Model.SelectedView)
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/GenusTypeIndex.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Admin/jquery.fastconfirm.js")" type="text/javascript"> </script>
}
@section Css
{
    <link href="@Url.Content("~/Content/Admin/CSS/jquery.fastconfirm.css")" rel="stylesheet" type="text/css" />
}
<div id="body"> 
    <div class="portlet">
        <div class="portlet-header">
            <ul id ="PageHeaderList">
                <li class="left headerButton">                    
                    <a href="@this.Url.Action("Create")">
                        <button>
                            <span>Add Genus Type</span>
                        </button>
                    </a>
                </li>
                <li class="clear"></li>
            </ul>
        </div>

    <div class="portlet-content">
        <table>
            <thead>
                <tr>
                    <th>Genus type</th>
                    <th>Lake</th>
                    <th>Number of genera</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.Model.GenusTypes)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Lake.Name</td>
                        <td>@item.NumberOfGenera</td>
                        <td>
                            <a href="@this.Url.Action("Update", new { id = item.Id })" class="linkButton">
                                <button>
                                    <span>Edit</span>
                                </button>
                            </a>
                            <a href="@this.Url.Action("Delete", new { id = item.Id })" class="linkButton confirm">
                                <button>
                                    <span>Delete</span>
                                </button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
</div>