@using RiftData.Presentation.ViewModels.Admin
@using Telerik.Web.Mvc.UI
@model SpeciesEditPageViewModel
@{
    this.ViewBag.Title = this.Model.Mode;
    this.Layout = "../Shared/_Layout.cshtml";

}
@this.Html.Partial("NavigationPartial", this.Model.SelectedView)
<div id="body">
    <div class="portlet">
        <div class="portlet-header">
            <ul id ="PageHeaderList">
                <li class="left">
                    <h4>@this.Model.Mode @this.Model.Name</h4>
                </li>
                <li class="right headerButton">
                    <a href="@this.Url.Action("Index")">
                        <button class="btn-sec">
                            <span>Back to list</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-content">
            @using (this.Html.BeginForm(this.Model.Mode, "Species", FormMethod.Post, new { @class = "form label-inline" }))
            {
                <div class="field">
                    <label>Name</label>
                    @this.Html.TextBoxFor(m => m.Name, new { @class = "validate[required]" })
                </div>
                <div class="field">
                    <label>Genus</label>
                    @this.Html.Telerik().DropDownList().BindTo(this.Model.Genus).Name("Genus")
                </div>
                <div class="field">
                    <label>Described</label>
                    @this.Html.CheckBoxFor(m => m.Described)
                </div>
                <div>
                    <label>Description</label>
                    @this.Html.TextAreaFor(m => m.Description, new { columns = "10" })
                </div>
                <div>
                    <label>Temperament</label>
                    @this.Html.Telerik().DropDownList().BindTo(this.Model.Temperament).Name("Temperament")
                </div>
                <div>
                    <label>Size</label>
                    @(this.Html.Telerik().RangeSlider<int>().Min(0).Max(50).Values(this.Model.MinSize, this.Model.MaxSize).Name("Size"))
                </div>
                <div class="buttonrow">
                    <button type="submit">
                        <span>Save</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<input type="hidden" value="@this.Url.Action("UpdateSuccess", "AjaxMessaging", new { subject = "Species", okAction = "Index", okController = "Species" })" id="SuccessUrl" />
<input type="hidden" value="@this.Url.Action("UpdateFailure", "AjaxMessaging", new { subject = "Species", okAction = "Index", okController = "Species" })" id="FailureUrl" />

@this.Html.Partial("MessageBox")

@section Css
{
    <link href="@this.Url.Content("~/Content/Admin/CSS/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="@this.Url.Content("~/Scripts/tiny_mce/tiny_mce.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/LoadTextEditor.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/SpeciesUpdate.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/jquery.validationEngine-en.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/jquery.validationEngine.js")" type="text/javascript"> </script>
}