@{
    this.ViewBag.Title = "RiftData | Help Us";
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}
@using RiftData.Presentation.ViewModels
@model HelpPageViewModel
<div id="CenterPanelContent" class="infoContainer">
    <div id="contentHolder">
        <h2>Help Us</h2>
        <p>
            We really need your help, especially with collating photos and other data. If have any photos you would like to donate, please <a class="message" href="#">get in touch</a>. Additionally if you see any mistakes or omissions <a class="message" href="#">drop us a line</a> too.
        </p>
        <h3>Photos</h3>
        <p>We don't have photos for the following fish...</p>
        @foreach (var group in Model.FishRequiringPhotos)
        {
            <h4>@group.First().Locale.Lake.Name</h4>
            <ul>
            @foreach (var fish in group)
            {
                <li><a target="_blank" href="@Url.Action("Index", "Fish", new {fishName = fish.UrlName})">@fish.Name</a></li>
            }
            </ul>
        }
        <h3>Fish</h3>
        <p>We don't have locales for the following species</p>
        @foreach (var group in Model.SpeciesRequiringLocales)
        {
            <ul>
                @foreach (var species in group)
                {
                    <li><a href="@Url.Action("Index", "Species", new { speciesName = species.UrlName })">@species.Name</a></li>
                }
            </ul>
        }
    </div>
</div>
@Html.Hidden("SendMessageUrl", Url.Action("Send", "Mail" ))
@{Html.Telerik().Window().Name("Message").Title("Send RiftData a message").Width(500).Height(300).Modal(true).Visible(false).Content(
@<text>
    @using (Html.BeginForm("Send", "Mail", FormMethod.Post, new { id = "form", @class = "emailForm" }))
    {
        <label>Your Name:</label>
        <br/>
        @Html.TextBox("Name", null, new { @class = "validate[required]" })
        <br/>
        <label>Your Email:</label>
        <br/>
        @Html.TextBox("Email", null, new { @class = "validate[required,custom[email]]" })
        <br/>
        <label>Your Message:</label>
        <textarea cols="57" rows="10" id="messageText"></textarea>
        <a id="SendMessage" href="#" class="headerButton">Send Message</a>
    }


</text>).Render();}

@section CSS{
    <link href="../../Content/Admin/CSS/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    @Html.Telerik().ScriptRegistrar()
    <script src="../../Scripts/Admin/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="../../Scripts/Admin/jquery.validationEngine-en.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PageScripts/helpus.yui.js")" type="text/javascript"></script>
}