@model RiftData.Presentation.ViewModels.Admin.Lake.LakeUpdatePageViewModel

@{
    ViewBag.Title = "Update";
    this.Layout = "../Shared/_Layout.cshtml";
}

@section Navigation{
    @this.Html.Partial("NavigationPartial", this.Model.SelectedView)
}

<div id="body">
    <div class="portlet">
        <div class="portlet-header">
            <ul id ="PageHeaderList">
                <li class="left">
                    <h4>Update @this.Model.Name</h4>
                </li>
                <li class="right headerButton">
                    <a href="@this.Url.Action("Index")">
                        <button class="btn-sec">
                            <span>Back to list</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-content">
            @using (this.Html.BeginForm("Update", "Lakes", FormMethod.Post, new { @class = "form label-inline" }))
            {
                <div class="field">
                    <label>Name</label>
                    @this.Html.TextBoxFor(m => m.Name, new { @class = "validate[required]" })
                </div>
                <div>
                    <label>Description</label>
                    @this.Html.TextAreaFor(m => m.Description, new { columns = "10" })
                </div>
                <div class="buttonrow">
                    <button type="submit">
                        <span>Save</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<input type="hidden" value="@this.Url.Action("UpdateSuccess", "AjaxMessaging", new { subject = "Lake", okAction = "Index", okController = "Lakes" })" id="SuccessUrl" />
<input type="hidden" value="@this.Url.Action("UpdateFailure", "AjaxMessaging", new { subject = "Lake", okAction = "Index", okController = "Lakes" })" id="FailureUrl" />

@this.Html.Partial("MessageBox")

@section Css
{
    <link href="@this.Url.Content("~/Content/Admin/CSS/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="@this.Url.Content("~/Scripts/tiny_mce/tiny_mce.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/LakeUpdate.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/LoadTextEditor.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/jquery.validationEngine-en.js")" type="text/javascript"> </script>
    <script src="@this.Url.Content("~/Scripts/Admin/jquery.validationEngine.js")" type="text/javascript"> </script>
}
