@using RiftData.Extensions
@using RiftData.Presentation.ViewModels
@model ViewModelBase
<!DOCTYPE html>
<html>
    <head>
        <title>@this.ViewBag.Title</title>
	<meta name="msvalidate.01" content="D95F78817323684DB4940E46F8E6E351" />
        <meta name="google" value="notranslate">
        <link rel="canonical" href="@this.Request.UrlOriginal()" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300italic|Arimo' rel='stylesheet' type='text/css'/>
        <link href="@this.Url.Content("../Content/2011.2.712/telerik.transparent.min.css")" rel="stylesheet"type="text/css" />
        <link href="@this.Url.Content("../Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@this.Url.Content("../Content/LocaleInfoBox/LocaleInfoBox.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/JQueryShare/jsShare.min.css")" rel="stylesheet" type="text/css" />
        <link href="@this.Url.Content("~/Content/Site.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/PrettyPhoto/css/prettyPhoto.css")" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://apis.google.com/js/plusone.js"> </script>   
        <meta name="keywords" content="@this.Model.Keywords" />
        <meta name="descripton" content="@this.Model.Description" />
        @this.Html.Partial("GoogleAnalytics")
    </head>
    <body>
        <div id="PageContainer">
            <div id="Header">
                <div id="LogoContainer">
                    <div id="Logo">
                        <img src="../../Content/logo.png" />
                    </div>
                    <h1>RiftData</h1>
                </div>
                <div class="clear"></div>
                <div id="HeaderTabs">
                    @foreach (var lake in this.Model.HeaderViewModel.Lakes)
                    {
                        <a href="@this.Url.Action("Index", "Lake", new { lakeName = lake.Name })">
                            @if (lake.Id == this.Model.HeaderViewModel.SelectedLakeId)
                            {
                                <div class="headerTabSelected">
                                    @lake.Name
                                </div>
                            }
                            else
                            {
                                <div class="headerTab">
                                    @lake.Name
                                </div>
                            }
                        </a>
                    } 
                    <div class="clear"></div>
                </div>
                <div class="divider"></div>
                <div id="HeaderMenu">
                    @foreach (var genusType in this.Model.HeaderViewModel.GenusTypes)
                    {
                        <a href="@this.Url.Action("Index", "Home", new { genusTypeName = genusType.Name })" title="@genusType.Name">

                            @if (genusType.Id == this.Model.HeaderViewModel.SelectedGenusTypeId)
                            {
                                <div class="headerButtonHover">
                                    @genusType.Name
                                </div>
                            }
                            else
                            {
                                <div class="headerButton">
                                    @genusType.Name
                                </div>
                            }

                        </a>
                    }
                    <div id="HeaderButtonsContainer">
                        <!--
                            <div class="headerButton">
                                Thanks!
                            </div>
                            -->
                        <a href="@this.Url.Action("HelpUs", "Info")">
                            <div class="headerButton">
                                Help us
                            </div>
                        </a>
                        <a href="@this.Url.Action("About", "Info")" >
                            <div class="headerButton">
                                About
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            @this.RenderBody()
        </div>
    </body>
    <script src="@Url.Content("~/_layout.js")" type="text/javascript"></script>
    @this.RenderSection("Scripts", false)
</html>