@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300italic|Arimo' rel='stylesheet' type='text/css'/>
        <link href="@Url.Content("../Content/2011.2.712/telerik.transparent.min.css")" rel="stylesheet"type="text/css" />
        <link href="@Url.Content("../Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("../Content/LocaleInfoBox/LocaleInfoBox.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("../Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("../Content/PiroBox/style.css")" rel="stylesheet" type="text/css" />
        <meta name="keywords" content="@ViewBag.Keywords" />
        <meta name="descripton" content="@ViewBag.Description" />
        @Html.Partial("GoogleAnalytics")
    </head>
    <body>
        <div id="PageContainer">
            <div id="Header">
                <div id="LogoContainer">
                    <div id="Logo">
                        <img src="../../Content/logo.png" />
                    </div>
                    <h1>RiftData</h1>
                </div>
                <div class="clear"></div>
                <div id="HeaderTabs">
                    <div class="headerTabSelected">
                        Malawi
                    </div>
                    <div class="headerTab">
                        Tanganyika
                    </div>
                    <div class="headerTab">
                        Victoria
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="divider"></div>
                <div id="HeaderMenu">
                    <div class="headerMenuItem">
                        Mbuna
                    </div>
                    <div class="headerMenuItem">
                        Haps
                    </div>
                    <div class="headerMenuItem">
                        Peacocks
                    </div>
                    <div id="HeaderButtonsContainer">
                    <div class="headerButton">
                        Help us
                    </div>
                    <a href="#" >
                        <div class="headerButton">
                            About
                        </div>
                    </a>
                </div>
                </div>
                <div class="clear"></div>
            </div>
            @RenderBody()
        </div>
    </body>
    @RenderSection("Scripts")
    <script src="../../Scripts/jQueryUI/jquery-ui-1.8.15.custom.min.js" type="text/javascript"></script>
    <script src="../../Scripts/PageScripts/_layout.js" type="text/javascript"></script>
</html>
