@using Telerik.Web.Mvc.UI
@using RiftData.Domain.Entities
@model RiftData.Presentation.ViewModels.PanelViewModelBase

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="LeftPanel" class="panels">
    <div id="TabContainer">
        <div class="t-widget t-tabstrip t-header">
            <ul class="t-reset t-tabstrip-items">
                @{foreach (var genusType in Model.GenusTypes) {
                      var cssClass = Model.SelectedGenusTypeId == genusType.Id ? "t-item t-state-default t-state-active" : "t-item t-state-default";
                    <li class="@cssClass">
                        <a href="@Url.Action("Index", "Home", new { genusTypeName = genusType.Name })" class="t-link">@genusType.Name</a>
                    </li>
                  }
                }
            </ul>
            <div class="t-content t-state-active" style="display:block;">
                @Html.Partial("GenusPanel", Model.GenusPanelViewModel)
            </div>
        </div>
    </div>
</div>
<div id="CenterPanel" class="panels">
    <div id="CenterPanelTop"></div>
    <div id="CenterPanelContent">
        @RenderSection("CenterPanel", false)
    </div>
    <div id="CenterPanelBottom"></div>
</div>
<div id="RightPanel" class="panels">
    <div id="LocaleMap"></div>
    @Html.Hidden("GetLocalesBySpeciesUrl", Url.Action("GetLocalesBySpecies", "Locale"))
    @Html.Hidden("GetLocaleDataUrl", Url.Action("GetLocaleData", "Locale"))
    @Html.Hidden("GetLocalesForZoomLevel", Url.Action("GetLocalesForZoomLevel", "Locale"))
    @Html.Hidden("GetLocaleLabel", Url.Action("GetLocaleLabel", "Locale"))
    @Html.Hidden("LocaleInfoBoxUrl", Url.Action("GetInfoBox", "Locale"))
</div>
<div class="clear"></div>
@section Scripts{
    <script src="../../Scripts/2011.2.712/jquery-1.5.1.min.js" type="text/javascript"></script>
    @Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.DefaultPath("~/Scripts/2011.2.712")).jQuery(false)
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script src="../../Scripts/PiroBox/pirobox.js" type="text/javascript"></script>
    <script src="../../Scripts/PageScripts/piroBox.js" type="text/javascript"></script>
    <script src="../../Scripts/RiftDataMap/RiftDataMapService.js" type="text/javascript"></script>
    <script src="../../Scripts/RiftDataMap/RiftDataMap.js" type="text/javascript"></script> 
    @RenderSection("Scripts", false)
}
