@using RiftData.Presentation.ViewModels
@model IPanelViewModel
@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="LeftPanel" class="panels">
    <div id="TabContainer">
        @this.Html.Partial("GenusPanel", this.Model.GenusPanelViewModel)
    </div>
</div>
<div id="CenterPanel" class="panels">
    <div id="CenterPanelContent">
        @this.RenderSection("CenterPanel", false)
        <div id="plusOne">
            <g:plusone size="small" annotation="none"></g:plusone>
        </div>
    </div>
</div>
<div id="RightPanel" class="panels">
    <div id="LocaleMap"></div>
    @this.Html.Hidden("GetLocalesBySpeciesUrl", this.Url.Action("GetLocalesBySpecies", "Locale"))
    @this.Html.Hidden("GetLocaleDataUrl", this.Url.Action("GetLocaleData", "Locale"))
    @this.Html.Hidden("GetLocalesForZoomLevel", this.Url.Action("GetLocalesForZoomLevel", "Locale"))
    @this.Html.Hidden("GetLocaleLabel", this.Url.Action("GetLocaleLabel", "Locale"))
    @this.Html.Hidden("LocaleInfoBoxUrl", this.Url.Action("GetInfoBox", "Locale"))
</div>
<div class="clear"></div>
@section Scripts{
    @this.Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.DefaultPath("~/Scripts/2011.2.712")).jQuery(false)
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"> </script>
    <script src="../../Scripts/PiroBox/pirobox.js" type="text/javascript"> </script>
    <script src="../../Scripts/PageScripts/piroBox.js" type="text/javascript"> </script>
    <script src="../../Scripts/RiftDataMap/RiftDataMapService.js" type="text/javascript"> </script>
    <script src="../../Scripts/RiftDataMap/RiftDataMap.js" type="text/javascript"> </script> 
    @this.RenderSection("Scripts", false)
}