@using RiftData.Presentation.ViewModels
@model  PhotoGalleryViewModel

<div id="PhotoCellContainer">
    @{ foreach (var photo in Model.Photos)
       {
           <text>
               <div class="photoCell">
                   <a href="@photo.MediumUrl"  title="@photo.Caption" rel="prettyPhoto[gallery]" alt="@photo.Title">
                       <img src="@photo.SquareThumbnail" title="@photo.Caption" alt="@photo.Title" />
                   </a>
               </div>
           </text>
       }
 }
    <div class="clear"></div>
</div>