@model RiftData.Presentation.ViewModels.FishPageViewModel

@{
    ViewBag.Title = "RiftData | " + Model.Fish.Name;
    ViewBag.Description =  string.Format("Profile for {0}", Model.Fish.Name);
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@section CenterPanel{
<div id="contentHolder">
    <h2>@Model.Fish.Name</h2>
    @{if (Model.Fish.HasDescription)
        {
            <h3>Description:</h3>
            @Html.Raw(Model.Fish.Description)
        }
      else
      {
            <p>No data available at the moment.</p>
      }
    }

    @{if (Model.PhotoGalleryViewModel.HasPhotos)
      {
          @Html.Partial("PhotoGallery", Model.PhotoGalleryViewModel)
      }
      else
      {
        <p>No photos available at the moment.</p>
      }
    }

    
    @Html.Hidden("LocaleId", Model.Fish.Locale.Id)
    @Html.Hidden("SpeciesId", Model.Fish.Species.Id)
</div>
}
@section Scripts{
    <script src="../../Scripts/PageScripts/fish.js" type="text/javascript"></script>
}