@using RiftData.Presentation.ViewModels
@model FishPageViewModel

@{
    this.ViewBag.Title = this.Model.Fish.Name + " | RiftData";
    this.Layout = "~/Views/Shared/_PanelLayout.cshtml";

}
@section CenterPanel{
    <div id="contentHolder">
        <h2>@this.Model.Fish.Name</h2>
        <h3><a href="@this.Url.Action("Index", "Species", new { speciesFullName = this.Model.Fish.Species.UrlName })" title="view @this.Model.Fish.Species.Name">view species page</a></h3>
        @{ if (this.Model.Fish.HasDescription)
           {
               <h3>Description:</h3>
               @this.Html.Raw(HttpUtility.HtmlDecode(this.Model.Fish.Description))
           }
           else
           {
               <p>No description available at the moment.</p>
           }
 }

        @{ if (this.Model.PhotoGalleryViewModel.HasPhotos)
           {
               @this.Html.Partial("PhotoGallery", this.Model.PhotoGalleryViewModel)
           }
           else
           {
               <p>No photos available at the moment.</p>
           }
 }

    
        @this.Html.Hidden("LocaleId", this.Model.Fish.Locale.Id)
        @this.Html.Hidden("SpeciesId", this.Model.Fish.Species.Id)
    </div>
}
@section Scripts{
    <script src="../../Scripts/PageScripts/fish.min.js" type="text/javascript"> </script>
}