@model RiftData.Presentation.ViewModels.Admin.FishIndexPageViewModel
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Fish";
    Layout = "../Shared/_Layout.cshtml";
}

@section Navigation
{
    @Html.Partial("NavigationPartial", Model.SelectedView)
}

<div id="body"> 
    <div class="portlet">
        <div class="portlet-header">
            <ul class="titleBarButtons">
                <li>
                    <a href="@Url.Action("Create", "Fish")">
                        <button>
                            <span>Add fish</span>
                        </button>
                    </a>
                </li>
                <li>|</li>
                <li>
                    @(Html.Telerik().ComboBox().Name("GenusBox")
                                .BindTo(Model.GenusList)
                                .ClientEvents(c => c.OnChange("GenusFilterSelected")))
                </li>
                <li>
                    <button id="btnResetFilter">
                        <span>Reset filter</span>
                    </button>
                </li>
            </ul>
            <ul class="portlet-tab-nav">
                @foreach (var type in Model.GenusTypes)
                {
                    <li class="@(type.Id == Model.Type.Id ? "portlet-tab-nav-active" : "")">
                        @Html.ActionLink(type.Name, "Index", new { id = type.Id})
                    </li>
                }
            </ul>
        </div>
        <div class="portlet-content">
            <table>
                <thead>
                    <tr>
                        <th>Genus</th>
                        <th>Species</th>
                        <th>Locale</th>
                        <th>Number of Photos</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Fish)
                    {
                          <tr class="tableRow" id="@(string.Format("TableRow_{0}", item.Genus.Id))">
                            <td>@item.Genus.Name</td>
                            <td>@item.Species.Name</td>
                            <td>@item.Locale.Name</td>
                            @{
                                   if (item.Photos.Count() < 1)
                                   {
                                              <text><td style="color:Red">@item.Photos.Count()</td></text>
                                   }
                                   else
                                   {
                                              <text><td>@item.Photos.Count()</td></text>
                                   }
                            }
                            <td>
                                <div class="buttonRow">
                                    <a href="@Url.Action("Update", "Fish", new { id = item.Id })">
                                        <button>
                                            <span>Edit</span>
                                        </button>
                                    </a>
                                    <a href="@Url.Action("Delete", "Fish", new { id = item.Id })" class="confirm">
                                        <button id="btnDelete">
                                            <span>Delete</span>
                                        </button>
                                    </a>
                                </div>
                            </td>
                          </tr>
                      }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Css
{
    <link href="@Url.Content("~/Content/Admin/CSS/jquery.fastconfirm.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/jquery.fastconfirm.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/FishIndex.js")" type="text/javascript"></script>
}