@model RiftData.Presentation.ViewModels.Admin.FishEditPageViewModel
           
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Edit Fish";
    Layout = "../Shared/_Layout.cshtml";
}

@section Navigation
{
    @Html.Partial("NavigationPartial", Model.SelectedView)
}

<div id="body">
    <div class="portlet">
        <div class="portlet-header">
            <ul id ="PageHeaderList">
                <li class="left">
                    <h4>Edit @Model.Name</h4>
                </li>
                <li class="right headerButton">
                    <a href="@Url.Action("Index")">
                        <button class="btn-sec">
                            <span>Cancel</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-content">
        <div class="left">
            @using (Html.BeginForm("Update", "Fish", FormMethod.Post, new { @class = "form label-inline" }))
            {
            @Html.HiddenFor(model => model.Id)
            <div class="field">
                <label>Genus</label>
                @Html.Telerik().DropDownList().BindTo(Model.Genus).Name("Genus").ClientEvents(e => e.OnChange("OnGenusChange"))
            </div>     
            <div class="field">
                <label>Species</label>
                @Html.Telerik().DropDownList().BindTo(Model.Species).Name("Species")
            </div>
            <div class="field">
                <label>Locale</label>
                @Html.Telerik().DropDownList().BindTo(Model.Locales).Name("Locales")
            </div>
            <div class="field">
                <label>Description</label>
                @Html.TextAreaFor(m => m.Description)
            </div>
            <button type="submit">
                <span>Save</span>
            </button>
            }
            </div>
        <div class="left">
            <ul id="photoReel">
                @foreach (var item in Model.Photos)
                {
                    <li>
                        <img src="@item.ThumbNailUrl" />
                        <a href="@Url.Action("DeletePhoto", new { fishId = Model.Id, photoId = item.Id })">
                            <button>
                                <span>Delete Photo</span>
                            </button>
                        </a>
                    </li>
                }
            </ul>
            <button class="btn-sec" id="btnAddPhoto">
                <span>Add Photo</span>
            </button>
        </div>
        <div class="clear"/>
    </div>
</div>
</div>
<div class="hidden" id="CancelUrl">@Url.Action("Cancel", "Photos")</div>
<div class="hidden" id="DeletePhotoUrl">@Url.Action("DeletePhoto", "Fish")</div>
@Html.Hidden("FlickrId")
@Html.Hidden("PhotoId")
<input type="hidden" value="@Url.Action("UpdateSuccess", "AjaxMessaging", new { subject = "Fish", okAction = "Index", okController = "Fish" })" id="SuccessUrl" />
<input type="hidden" value="@Url.Action("UpdateFailure", "AjaxMessaging", new { subject = "Fish", okAction = "Index", okController = "Fish" })" id="FailureUrl" />
<input type="hidden" value="@Url.Action("GetSpecies", "Fish")" id="SpeciesUrl" />
@Html.HiddenFor(m => m.MessageBoxVisible)
@Html.Partial("MessageBox")
@Html.Partial("PhotoUploader")
@section Css
{
    <link href="@Url.Content("~/Content/Admin/CSS/jquery.fastconfirm.css")" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/2011.2.712/telerik.upload.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/jquery.fastconfirm.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/LoadTextEditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/FishUpdate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Admin/FishUpdate.js")" type="text/javascript"></script>
}