@model RiftData.Presentation.ViewModels.Admin.SelectedView
@using RiftData.Presentation.ViewModels.Admin
<div id="nav" class="clearfix">
        <ul>
            <li>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = Model == SelectedView.Home ? "current" : "" })
            </li>
@*            <li>
                @Html.ActionLink("Photos", "Index", "Photos", null, new { @class = Model == SelectedView.Photos ? "current" : "" })
            </li>*@
            <li>
                @Html.ActionLink("Fish", "Index", "Fish", null,  new { @class = Model == SelectedView.Fish ? "current" : "" })
            </li>
            <li>
                @Html.ActionLink("Genus Types", "Index", "GenusTypes" ,null, new { @class = Model == SelectedView.GenusTypes ? "current" : "" })
            </li>
            <li>
                @Html.ActionLink("Genus", "Index", "Genus", null,  new { @class = Model == SelectedView.Genus ? "current" : "" })
            </li>
            <li>
                @Html.ActionLink("Species", "Index", "Species", null, new { @class = Model == SelectedView.Species ? "current" : "" })
            </li>
            <li>
                @Html.ActionLink("Locales", "Index", "Locales", null, new { @class = Model == SelectedView.Locales ? "current" : "" })
            </li>
        </ul>
    </div>