@using RiftData.Presentation.ViewModels.Admin
@using RiftData.Presentation.ViewModels.Admin.Shared
@model SelectedView
<div id="nav" class="clearfix">
    <ul>
        <li>
            @this.Html.ActionLink("Home", "Index", "Home", null, new { @class = this.Model == SelectedView.Home ? "current" : "" })
        </li>
        @*            <li>
                @Html.ActionLink("Photos", "Index", "Photos", null, new { @class = Model == SelectedView.Photos ? "current" : "" })
            </li>*@
        <li>
            @this.Html.ActionLink("Fish", "Index", "Fish", null, new { @class = this.Model == SelectedView.Fish ? "current" : "" })
        </li>
        <li>
            @this.Html.ActionLink("Genus Types", "Index", "GenusTypes", null, new { @class = this.Model == SelectedView.GenusTypes ? "current" : "" })
        </li>
        <li>
            @this.Html.ActionLink("Genus", "Index", "Genus", null, new { @class = this.Model == SelectedView.Genus ? "current" : "" })
        </li>
        <li>
            @this.Html.ActionLink("Species", "Index", "Species", null, new { @class = this.Model == SelectedView.Species ? "current" : "" })
        </li>
        <li>
            @this.Html.ActionLink("Locales", "Index", "Locales", null, new { @class = this.Model == SelectedView.Locales ? "current" : "" })
        </li>
        <li>
            @this.Html.ActionLink("Lakes", "Index", "Lakes", null, new { @class = this.Model == SelectedView.Lake ? "current" : ""})
        </li>
    </ul>
</div>